*{
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration:none;
}
/*top*/

/*header*/
header{
    background-color:rgba(0, 0, 0, 0.7); 
    width:100%;
    height:30px;
    position:absolute;
    top:0;
    left:0;
    z-index: 0;
    opacity: ;
}
.header-logo{
    color:white;
    font-size:20px;
    font-weight: bold;
    position:absolute;
    top:-10px;
    left:5px;
    opacity:;
}

/*first-wrapper*/
.first-wrapper{
    width:100%;
    height:1350px;
    position:absolute;
    top:30px;
    left:0px;
    opacity:;
}
.first-image{
    width:100%;
    height:57%;
    position:absolute;
    top:0px;
    left:0px;
    opacity:;
}
.profile{
    background-color:rgba(0, 0, 0, 0.7);
    width:100%;
    height:30px;
    position:absolute;
    top:769px;
    left:0px;
    opacity:;
}
.profile-logo{
    color:white;
    font-size:20px;
    font-weight: bold;
    position:absolute;
    top:-10px;
    left:5px;
    opacity:;
}
.profile-image{
    width:20%;
    height:200px;
    position:absolute;
    top:53px;
    left:0px;
    z-index:1;
    opacity:;
}
.profile-text{
    background-color:rgb(255, 255, 255);
    position:absolute;
    top:30px;
    left:0px;
    padding-right:100%;
    padding-bottom:240px;
}
.profile-text h1{
    font-size:25px;
    position:absolute;
    top:10px;
    left:310px;
}
.profile-text h2{
    font-size:20px;
    position:absolute;
    top:50px;
    left:310px;
}

/*second-wrapper*/
.second-wrapper{
    width:100%;
    height:400px;
    position:fixed;
    top:0px;
    left:0px;
    z-index:-1;
    opacity:;
}
.works{
    background-color:rgba(0, 0, 0, 0.7);
    width:100%;
    height:30px;
    position:absolute;
    top:459px;
    left:0px;
    opacity:;
}
.works-logo{
    color:white;
    font-size:20px;
    font-weight: bold;
    position:absolute;
    top:-10px;
    left:5px;
    opacity:;
}
.works-contents{
    position:absolute;
    top:493px;
    width:100%;
    height:230px;
    float:left;
}
.works-item{
    background-color: rgb(255, 255, 255);
    width:20%;
    height:100%;
    position:relative;
    float:left;
    border-right:0.5px solid black;
}
.item-link{
    display:inline-block;
    color:black;
    font-size:25px;
    position:absolute;
    top:195px;
    left:40px;   
}
.item-link:hover{
    color:rgba(0, 0, 0, 0.7)
    cursor:pointer;
}
.item-image{
    width:100%;
    margin-top:-40px;
}

/*footer*/
footer{
    background-color:rgba(0, 0, 0, 0.7); 
    width:100%;
    height:30px;
    position:fixed;
    top:733px;
    left:0;
    z-index:-1;
    opacity: ;
}
.footer-logo{
    color:rgb(255, 255, 255);
    font-size:20px;
    font-weight: bold;
    position:absolute;
    top:-10px;
    left:5px;
    z-index: ;
}

/*responsive design用*/


/*タブレット(max-width:671~1000px)用*/


/*スマホ(max-width:670px)用*/
.menu-icon{
    display:none
}

@media(max-width:670px){
    .menu-icon{
        
    }
}